/*滚动条的背景颜色*/
::-webkit-scrollbar-track-piece{background-color:#fff;}
::-webkit-scrollbar{width:11px;height:8px;}
/*垂直滚动条的样式*/
::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;border-radius:8px;outline:2px solid #fff;outline-offset:-2px;border: 2px solid #fff;}
/*滚动条的hover样式*/
::-webkit-scrollbar-thumb:hover{height:50px;background-color:#9f9f9f;}

.o-mod-data {position:fixed;top:5px;right:-165px;padding:5px;font-size:12px;color:#555;overflow:hidden;}	
	.o-mod-data dt {float:left;padding:5px 0 0;width:23px;height:66px;box-shadow:0 0 5px #555;text-align:center;font:700 12px/15px verdana;background:#BD1A1E;color:#FFF;cursor:pointer;overflow:hidden;}
	.o-mod-data-active dt {background:#EEE;color:#333;}
	.o-mod-data dd {position:relative;float:left;width:160px;box-shadow:0 0 5px #555;background:#EEE;}
		.o-mod-data .o-modd-loading {padding:0;height:100%;background:url(http://style.aliexpress.com/wimg/buyer/single/loading-middle.gif) no-repeat 50% 50%;}
			.o-mod-data .o-modd-loading * {visibility:hidden;}

		.o-modd-form {padding:0 10px;overflow:hidden;}
			.o-mod-data .inp-atext {padding:2px;width:134px;height:45px;border:1px solid #DDD;resize:none;font:11px/15px verdana;}
			.o-mod-data li {position:relative;z-index:0;padding:2px 0;overflow:hidden;}
				.o-mod-data li label {display:block;line-height:24px;;color:#666;}
				.o-mod-data li .inp-text {float:left;padding:3px 2px;margin-right:5px;width:82px;border:1px solid #DDD;line-height:12px;}
				.o-mod-data li button {float:left;padding:2px 5px;height:24px;}
				.o-mod-data li .inp-file {position:absolute;bottom:3px;right:2px;background:red;opacity:0;cursor:pointer;}
			.o-mod-data .o-mod-btn {padding:5px 0 10px 0;text-align:center;overflow:hidden;}
				.o-mod-data .o-mod-btn input {padding:2px 6px;height:25px;}
		
		.o-modd-list {display:none;padding:10px;background:#FFF;}
			.cate-item {margin-bottom:5px;}
				.cate-item h4 {position:relative;font:700 11px/27px verdana;background:#EEE;cursor:pointer;overflow:hidden;}
					.cate-item h4 label {float:left;}
						.cate-item h4 input {float:left;margin:7px 5px 0 10px;}
				.cate-item .cate-item-box {display:none;padding-bottom:10px;overflow:hidden;}
				.cate-item-active .cate-item-box {display:block;position:relative;z-index:0;height:200px;overflow-y:scroll;overflow-x:hidden;}
					.cate-item-box li {float:left;position:relative;z-index:0;margin:5px 3px 5px 2px;width:48px;height:48px;border:1px solid #ddd;overflow:hidden;}
						.cate-item-box li .inp-checkbox {position:absolute;left:0;bottom:0;}
						.cate-item-box li img {max-height:50px;}

		.o-modd-btn {display:none;text-align:center;}
			.o-modd-btn button {padding:2px 6px;height:25px;}
		.o-modd-btn-active {display:block;}















