<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>添加组件</title>
<link rel="stylesheet" type="text/css" href="http://styleshit.me/demo/src/view.css" media="all">
<script type="text/javascript" src="http://styleshit.me/demo/src/view.js"></script>
<style type="text/css">
	body {font:75%/1.5 "Microsoft YaHei","Lucida Grande",Verdana !important;}
	.imgPrew {margin-bottom:5px;}
	.imgThumb {max-width:670px;max-height:350px;}
</style>
</head>
<body id="main_body" >
	
	<img id="top" src="http://styleshit.me/demo/src/top.png" alt="">
	<div id="form_container">
		<h1><a>修改组件</a></h1>
		<form  onsubmit ="return validateForm()" id="form_474430" name="form_474430" class="appnitro" enctype="multipart/form-data" method="post" action="/omod/updateModuleResult">
		<div class="form_description">
			<h2>修改组件</h2>
			<p></p>
		</div>						
		<ul >
		<!--<li id="li_5" >
		<label class="description" for="element_5">组件style文件名: </label>
		<div>
			<input id="element_5" name="element_5" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>-->		
		<li id="li_6" >
		<label class="description" for="name">组件描述： </label>
		<div>
			<input id="name" name="name" class="element text medium" type="text" maxlength="255" value="{{models.mod.name}}"/> 
		</div> 
		</li>		
		<li id="li_2" >
		<div class="imgPrew">
			<p>组件缩略图预览：</p>
			<a href="{{models.mod.img_thumb}}" target="_blank"><img src="{{models.mod.img_thumb}}" alt="" class = "imgThumb"/></a>
		</div>
		<label class="description" for="img_thumb">修改组件缩略图： </label>
		<div>
			<input id="img_thumb" name="img_thumb" class="element file" type="file"/> 
		</div>  
		</li>		
		<li id="li_4" >
		<label class="description" for="type">请选择组件所属类型 </label>
		<div>
		<select class="element select medium" id="type" name="type"> 
			{% if  models.mod_type_list %}
			{% for m in models.mod_type_list %}
			{{m.selected}}
			<option value="{{m.id}}" {% if forloop.counter == models.selectedIndex %}selected="selected" {% endif %}>{{m.name}}</option>
			{% endfor %}
			{% endif %}
		</select>
		</div> 
		</li>		
		<li id="li_14" >
		<label class="description" for="mod_layout_support">请选择组件支持的布局位 (可多选)</label>
		
		<div>
			{% if  models.mod_layout_support %}
				{% for m in models.mod_layout_support %}
				<div>
					<input type="checkbox" name = "check_box_list" id="{{m.name}}" value = "{{m.name}}" {% if m.isChecked %}checked="{{m.isChecked}}" {% endif %}/>
					<label for="{{m.name}}" style="display:inline-block;">{{m.layout_type}}</label>
				</div>
				{% endfor %}
			{% endif %}
		</div> 
		</li>		
		<li id="li_9" >
		<label class="description" for="element_9"> </label>
		<!--<span>
			<input id="element_9_1" name="element_9_1" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_9_1">是否包含js</label>
			<input id="element_9_2" name="element_9_2" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_9_2">是否包含css</label>
			<input id="element_9_3" name="element_9_3" class="element checkbox" type="checkbox" value="1" />
			<label class="choice" for="element_9_3">是否包含HTML模板</label>
		</span> -->
		</li>		
		<li id="li_7" >
		<label class="description" for="html_tpl_str">HTML模板代码 </label>
		<div>
			<textarea id="html_tpl_str" name="html_tpl_str" class="element textarea medium">{{models.mod.html_tpl_str}}</textarea> 
		</div><p class="guidelines" id="guide_7"><small>请把HTML模板代码复制到此处</small></p> 
		</li>		
		<li id="li_10" >
		<label class="description" for="mod_js_require">组件依赖的JS列表 </label>
		<div>
			<textarea id="mod_js_require" name="mod_js_require" class="element textarea medium">{{models.mod_js_require.url}}</textarea> 
		</div><p class="guidelines" id="guide_7"><small>多个js地址以分行填写</small></p> 
		</li>		
		<li id="li_11" >
		<label class="description" for="mod_css_require">组件依赖的CSS列表 </label>
		<div>
			<textarea id="mod_css_require" name="mod_css_require" class="element textarea medium">{{models.mod_css_require.url}}</textarea> 
		</div><p class="guidelines" id="guide_7"><small>多个css地址以分行填写</small></p> 
		</li>		
		<li id="li_8" >
			<label class="description" for="demo_json_str">示例JSON数据 </label>
			<div>
				<textarea id="demo_json_str" name="demo_json_str" class="element textarea medium">{{models.mod.demo_json_str}}</textarea> 
			</div>
			<p class="guidelines" id="guide_8"><small>对象属性名前必须加双引号<br>
示例:{"cateName" : "Electronics","viewMoreURL" : "#text"}</small></p> 
		</li>
		<li class="buttons">
			    <input type="hidden" name="form_id" value="{{models.mod_id}}" />
				<input id="saveForm" class="button_text" type="submit" name="submit" value="确认提交" style="cursor:pointer;"/>
		</li>
			</ul>
		</form>	
		<div id="footer">
		</div>
	</div>
	<img id="bottom" src="http://styleshit.me/demo/src/bottom.png" alt="" >
	<script type="text/javascript" src="http://styleshit.me/demo/src/update_mod.js"></script>
	</body>
</html>